body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #cfd9df, #e2ebf0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 80%;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  form {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #555;
  }
  
  input[type="number"],
  input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
  }
  
  .input-effect:focus-within {
    border-color: #007bff;
  }
  
  .radio-group {
    display: inline-block;
  }
  
  .radio-group input[type="radio"] {
    display: none;
  }
  
  .radio-group label {
    display: inline-block;
    padding: 12px 20px;
    margin-right: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .radio-group input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
  }
  
  .message {
    text-align: center;
    margin-top: 20px;
    color: #007bff;
  }
  